body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('pass.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

#charRange {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.boton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #45a049;
}

#passwordField {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Responsivo */
@media (max-width: 600px) {
    .boton {
        padding: 12px 24px;
        font-size: 14px;
    }

    #passwordField {
        font-size: 16px;
    }
}
